/* Primary Font (Outfit) */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit";
  box-sizing: border-box;
}

@theme {
  --color-primary: #4fbf8b;
  /* --color-primary: #96ae00; */
  --color-primary-dull: #44ae7c;
  --color-offwhite: #f0f2fa;
  --color-black: #2d2a6e;
}

/* Loading Spinner */
.loader {
  width: 70px;
  height: 70px;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top: 3px solid #4fbf8b;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}
@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}
